/* * {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  overflow: hidden;
}

body {
  background: white;
}

.clearfix {
  clear: both;
  float: none;
}

.container {
  width: 85%;
  margin: 0px auto;
}

#main-header {
  background: white;
  height: 100px;
  line-height: 85px;
}

#logo {
  width: 64%;
  float: left;
}

#logo h1 {
  font-weight: bold;
  font-size: 25px;
  color: darkred;
}

#menu {
  width: 380px;
  float: left;
}

#menu ul li {
  list-style-type: none;
  float: left;
  margin: 15px;
  margin-right: 15px;
}

#menu ul li a {
  color: black;
}

#menu ul li a:hover {
  color: darkred;
}

#slider {
  height: 300px;
  background: darkred;
}

#slider h2 {
  font-size: 40px;
  text-align: center;
  color: white;
  line-height: 290px;
  text-shadow: 0px 0px 6px black;
}

.servicio img {
  height: 48px;
  margin-bottom: 20px;
}

.servicio h3 {
  margin-bottom: 10px;
}

.servicio p {
  color: darkgray;
  text-align: justify;
  width: 85%;
  display: block;
  margin: 0px auto;
} */
